img.banner{
	width: 100%;
	
}


.inner{
	text-align: center;
	font-size: 25px;

}
.wow{
	display: block;
	flex-wrap: wrap;
    flex-grow: 1;
    height: 240px;
     width: 240px;
	/* margin: 0 -5px; */
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-weight: bold;
	content-visibility: hidden;
	padding: 5%;
	border: 1px solid blue;
	background-color: rgb(0, 0, 0);
	text-align: center;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: .5;
	transition: .5s ease;
	box-decoration-break: clone;
	
	}

.wow:hover{
	opacity: 1;
	transform: scale(1.5);
	content-visibility: visible;
	text-shadow: 0 .5px 0 black;

	/* background: rgba(0, 0, 0, 0) linear-gradient( rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0; */
	

}
.afterDesc{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 10px;
	/* margin: 50px;
	justify-content: space-between; */
	column-gap: 50px;
	row-gap: 50px;
	margin: 50px;
	
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .footer {
    align-items: center;
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.footer__social_linkedin {
    height: auto;
    width: 50px;
}

.footer__social_github {
    height: auto;
    width: 50px;
}
